*{
    box-sizing: border-box;
    transition: 0.3s;
}
body{
    margin: 0;
}
.nav{
    width: 366px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 108px;
    float: left;
}
.mb_btn{
    display: none;
}
.logo{
    width: 150px;
    height: 150px;
    background-color: rgb(58, 61, 61);
    background-image: url('https://assets.juksy.com/files/articles/41510/800x_100_w-567a9a48b9aa2.jpg');
    background-position: 60% 50%;
    background-size: cover;
    margin-bottom: 50px;
}
.nav_btn{
    text-align: center;
}
.btn{
    display: block;
    font-size: 24px;
    line-height: 200%;
}
.body{
    width: calc(100% - 366px);
    height: 100vh;
    float: left;
    position: relative;
}
.img_area{
    width: 960px;
    height: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 1s;
}
.mask:hover{
    opacity: 0;
}
.box{
    width: 33%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#box_x{
    margin-right: 5px;
    background-image: url('https://getez.info/uploads/1516153264-ScQwf.jpg');
}
#box_y{
    width: calc(34% - 10px);
    margin-right: 5px;
    background-image: url('../school.jpg');
}
#box_z{
    background-image: url('../playground.jpg');
}
@media(max-width:1326px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        width: 100%;
    }
    .nav{
        width: 366px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 108px;
        float: left;
    }
    .mb_btn{
        display: none;
    }
    .logo{
        width: 150px;
        height: 150px;
        background-color: rgb(58, 61, 61);
        background-position: 60% 50%;
        margin-bottom: 50px;
    }
    .nav_btn{
        text-align: center;
    }
    .btn{
        display: block;
        font-size: 24px;
        line-height: 200%;
    }
    .body{
        width: calc(100% - 366px);
        height: 100vh;
        float: left;
        position: relative;
    }
    .img_area{
        width: 768px;
        height: 570px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 1s;
    }
    .mask:hover{
        opacity: 0;
    }
    .box{
        height: 50%;
        float: left;
    }
    #box_x{
        width: 100%;
        height: calc(50% - 2.5px);
        margin-bottom: 5px;
    }
    #box_y{
        width: calc(50% - 2.5px);
        height: calc(50% - 2.5px);
        margin-right: 5px;
    }
    #box_z{
        width: calc(50% - 2.5px);
        height: calc(50% - 2.5px);
    }
}
@media(max-width:1133px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        position: relative;
    }
    .nav{
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.3);
        position: relative;
        padding: 0;
    }
    .mb_btn{
        display: none;
    }
    .logo{
        width: 80px;
        height: 80px;
        background-color: rgb(58, 61, 61);
        float: left;
        margin-left: 5%;
        margin-top: 10px;
        background-position: 60% 50%;
    }
    .nav_btn{
        text-align: right ;
        margin-right: 5%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
    }
    .btn{
        display: inline-block;
        font-size: 24px;
        line-height: 200%;
        margin-right: 10px;
    }
    .body{
        width: 100%;
        height: calc(100vh - 100px);
        position: relative;
    }
    .img_area{
        width: 100%;
        height: 800px;
        padding: 45px 5% 0;
    }
    .mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 1s;
    }
    .mask:hover{
        opacity: 0;
    }
    #box_x{
        width: 100%;
        height: 398px;
        float: left;
        margin-bottom: 5px;
    }
    #box_y{
        width: calc(50% - 5px);
        height: 397px;
        float: left;
        margin-right: 5px;
    }
    #box_z{
        width: 50%;
        height: 397px;
        float: left;
    }
}
@media(max-width:540px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        position: relative;
    }
    .nav{
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.3);
        position: relative;
        padding: 15px 20px;
    }
    .mb_btn{
        width: 40px;
        height: 50px;
        background-color: grey;
        display: block;
    }
    .logo{
        width: 54px;
        height: 54px;
        background-color: rgb(58, 61, 61);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-position: 60% 50%;
        margin: 0;
        float: none;
    }
    .nav_btn{
        display: none;
    }
    .body{
        width: 100%;
        height: auto;
    }
    .img_area{
        width: 100%;
        height: auto;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0,0);
        padding: 0;
    }
    .mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 1s;
    }
    .mask:hover{
        opacity: 0;
    }
    #box_x{
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        float: none;
    }
    #box_y{
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #box_z{
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

